@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
* {
  font-family:'Press Start 2P', cursive;
}
body {
  background-color:#000000;
}
a {
  color:#ff6400;
  font-weight:normal;
  text-decoration:none;
}
a:visited {
  color:#ff6400;
  font-weight:bold;
  text-decoration:none;
}
a:hover {
  color:#ff6400;
  font-weight:normal;
  text-decoration:underline;
}
a:active {
  color:#ffffff;
  font-weight:bold;
  text-decoration:underline;
}
p {
  font-size:14px;
  color:#00f;
}
h1 {
  color:#f00;
}
h3 {
  color:#0f0;
}
.codedivs {
  background-color:#777777;
  color:#0000ff;
}
